{% load static %}
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" id="checkOut">
        <p data-translate="follow"></p>
        <a
          href="https://github.com/iamshiuba"
          target="_blank"
          title="GitHub"
          rel="noopener"
        >
          <i class="fa-brands fa-github"></i>
        </a>
        <a
          href="https://x.com/iamshiuba"
          target="_blank"
          title="X (Twitter)"
          rel="noopener"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a
          href="https://www.youtube.com/@iamshiuba"
          target="_blank"
          title="YouTube"
          rel="noopener"
        >
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a
          href="https://soundcloud.com/iamshiuba"
          target="_blank"
          title="SoundCloud"
          rel="noopener"
        >
          <i class="fa-brands fa-soundcloud"></i>
        </a>
      </div>
      <div class="col-md-6">
        <a
          href="{% url 'tos' %}"
          id="tos"
          type="button"
          class="btn"
          target="_blank"
          rel="noopener"
          data-translate="tos"
        ></a>
        <a
          href="{% url 'privacy' %}"
          id="privacy"
          type="button"
          class="btn"
          target="_blank"
          rel="noopener"
          data-translate="privacy"
        ></a>
      </div>
      <div class="row">
        <div class="col-md-auto">
          <p>
            <span data-translate="prdBy"></span> &copy; 2023 - 2024.
            <span data-translate="footer"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
