:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --shadow-color: #00000080;
    --shadow-color-dark: #ff00007e;
    --box-shadow: #ff11117c;
    --bg-primary: red;
    --bg-secondary: #ff8d23;
    --hover-color: #ff000044;
}

body.dark {
    --bg-color: #000000;
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

button {
    border: none;
    background-color: transparent;
    padding: 0 1rem;
    color: var(--bg-primary);
    transition: all 1.5s ease-in-out;
}

button:hover {
    color: var(--text-color);
    background-color: var(--hover-color);
}

.btn {
    text-decoration: none;
    transform: scale(1.3);
    border-radius: 5px;
    color: var(--bg-primary);
    margin: 0.5rem;
    padding: 0.5rem;
    transition: all 0.5s ease-in-out;

}

.btn:hover {
    background-color: var(--bg-secondary);
    color: var(--bg-primary);
}

img {
    width: 100px;
    transition: all 1.5s ease-in-out;
}

img:hover {
    transform: scale(1.1);
    transition: all 1.5s ease-in-out;
}

a {
    border-radius: 0.5rem;
    text-decoration: none;
}

.link {
    animation: fadeIn 5s ease-in-out;
}

#hItems {
    justify-content: space-between;
}

.container, .container-fluid { 
    display: flex;
    background-color: transparent;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    text-align: center;
}

body h1, h2, h3, h4, h5, p, a {
    text-shadow: 2px 3px 2px var(--shadow-color);
    text-align: center;
}

body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark h5, body.dark p, body.dark a {
    text-shadow: 2px 3px 2px var(--shadow-color-dark);
    text-align: center;
}

h1 {
    color: var(--bg-primary);
    font-size: 4rem;
}

h1, .display-1, .display-2, .display-3 {
    padding: 2rem;
}

h2, h3, h4 {
    color: var(--bg-secondary);
    font-size: 2rem;
}

h1, h2, h3, h4, h5, .display-1, .display-2, .display-3, .form-label{
    animation: fadeIn 3s ease-in-out;
}

p.lead {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    animation: fadeIn 5s ease-in-out;
}

main iframe {
    max-width: auto;
    width: 768px;
    height: 432px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 1rem var(--box-shadow);
}

label.btn:hover {
    border-color: var(--text-color) !important;
    color: var(--text-color) !important;
}

label {
    padding: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
}

footer .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#youtube, .video-links, .playlist-links {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.video-links, .playlist-links {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.video-links a, .playlist-links a {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--bg-primary);
    transition: all 0.5s ease-in-out;
}

.video-links a:hover, .playlist-links a:hover {
    border: 2px solid var(--text-color);
    color: var(--text-color);
}

.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: var(--bg-color);
}

.topnav a {
    color: var(--text-color);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.5s ease-in-out;
}

.topnav a:hover {
    color: var(--bg-secondary);
    font-weight: 700;
}

.topnav a.active {
    color: var(--text-color);
}

.topnav a.active:hover {
    color: var(--bg-primary);
}

.topnav .icon {
    display: none;
}

.display-1, .display-2, .display-3 {
    color: var(--bg-secondary);
    font-weight: 400;
}

#swicher {
    margin: 0.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch input:checked+.slider {
    background-color: #000000;
}

.switch input:checked+.slider:before {
    transform: translateX(20px);
    background-color: transparent;
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    box-shadow: inset -5px -3px 0 #d8e9ef;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: 0.4s;
    border-radius: 20px;
    box-shadow: 0 0 0.25em var(--box-shadow), 0.2px 0.2em 24px 0 rgba(1, 29, 77, 0.15);
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: yellow;
    transition: 0.4s;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    header .container {
        flex-direction: column;
        align-items: center;
    }

    #playlistContainer {
        flex-direction: column;
    }
    
    .container-fluid {
        flex-direction: column;
    }

    footer .container {
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: flex;
    }

    .topnav img {
        width: 150px;
    }

    
    main iframe {
        width: 400px !important;
        height: 200px !important;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .container-fluid {
        flex-direction: column;
    }

    main iframe {
        width: 960px;
        height: 540px;
    }

    footer .container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 2560px) {
    html {
        font-size: 250%;
    }

    main iframe {
        width: 1600px;
        height: 900px;
    }

    .video-links, .playlist-links {
        font-size: 2rem;
    }

    .topnav a {
        font-size: 1.2rem;
    }

    .topnav img {
        width: 300px;
    }

    
    .switch {
        width: 6.5em;
        height: 3em;
    }

    .switch .slider {
        border-radius: 30px;
    }

    .switch .slider:before {
        height: 2em;
        width: 2em;
        line-height: 2em;
    }

    .switch input:checked+.slider:before {
        transform: translateX(3em);
    }
    
    .btn {
        transform: scale(1.5);
    }
}
