{% extends "base.html" %} {% block content %}
<div id="about">
  <h1 data-translate="aboutTitle">About</h1>
  <p class="lead" data-translate="aboutMessage">
    I made this website for fun. I was doing a course of programming and I was
    learning about how to build a simple but cool website. Then after a few
    weeks I started my own web project, to be honest I used AI for some things
    since I'm still new to programming, I used it for the JS part and to improve
    some of my HTML/CSS code, but of course I didn't make it 100% using AI.
    Thank you for visiting my website!
  </p>
</div>
{% endblock %}
