{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="d-block">
      <div id="main">
        <h1 data-translate="greeting">Hello, world!</h1>
        <p class="lead" data-translate="mainMessage">
          This is my first website built from zero, I started coding in 2024/08
          and did finish it in 2024/10.
          <br />
          There's only a few things here to check out for now: some videos, an
          about page, news page and you can visit my social networks that are
          present in the website's footer.
        </p>
      </div>
    </div>
    <div class="d-block">
      <p class="display-3" data-translate="highlight">Highlights</p>
      <p class="lead" data-translate="hDescription">
        A list of YouTube videos to watch here or in my Official Artist Channel.
      </p>
      <div class="video-links">
        <iframe
          src="https://www.youtube.com/embed/videoseries?si=F6CnMkx4AUkuURA_&amp;list=OLAK5uy_laLvEldekJ_qsP5DMbG-PYcEW3oQEYu_Q"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
