{% extends "base.html" %} {% block content %}
<div class="container-fluid" id="home">
  <div class="row">
    <section class="col-10">
      <h1><span data-translate="greeting"></span></h1>
      <p class="lead" data-translate="mainMessage"></p>
      <p class="lead" data-translate="subMessage"></p>
    </section>
    <section>
      <div class="row">
        <div class="card">
          <h2 class="display-2"><span data-translate="highlight"></span></h2>
          <p class="lead" data-translate="hDescription"></p>
          <iframe
            src="https://www.youtube.com/embed/videoseries?si=F6CnMkx4AUkuURA_&amp;list=OLAK5uy_laLvEldekJ_qsP5DMbG-PYcEW3oQEYu_Q"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <div class="card-body">
            <a
              type="button"
              class="btn"
              rel="noopener"
              target="_blank"
              href="https://www.youtube.com/playlist?list=OLAK5uy_laLvEldekJ_qsP5DMbG-PYcEW3oQEYu_Q"
              data-translate="checkOut"
            ></a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
