{% extends "base.html" %} {% block content %}
<h1 data-translate="newsTitle">News</h1>
<div class="container-fluid">
  <div class="col">
    <blockquote class="twitter-tweet" data-theme="dark">
      <p lang="en" dir="ltr">
        Hi, I&#39;m SHIUBA and this is my X profile.
        <a href="https://t.co/tTD3eHKrcI">pic.twitter.com/tTD3eHKrcI</a>
      </p>
      &mdash; IamSHIUBA (@iamshiuba)
      <a
        href="https://twitter.com/iamshiuba/status/1744506279203045753?ref_src=twsrc%5Etfw"
        >January 8, 2024</a
      >
    </blockquote>
  </div>
  <div id="news" class="col">
    <div class="video-links">
      <iframe
        src="https://www.youtube.com/embed/BzOLHaR-GEs"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <a
        rel="noopener"
        target="_blank"
        href="https://www.youtube.com/@iamshiuba/community"
      >
        <strong>CHECK OUT</strong>
      </a>
    </div>
  </div>
</div>
{% endblock %}
