{% extends "base.html" %} {% block content %}
<hr />
<div class="container">
  <div class="row">
    <h1 data-translate="privacy"></h1>
    <p class="lead" data-translate="PPdate"></p>
    <p class="lead" data-translate="ppDesc"></p>
    <div class="col-lg-6">
      <section>
        <h2><span data-translate="ppDC"></span></h2>
        <p><span data-translate="ppDCdesc"></span></p>
      </section>
      <section>
        <h2><span data-translate="ppCOOKIE"></span></h2>
        <p><span data-translate="ppCOOKIEdesc"></span></p>
      </section>
      <section>
        <h2><span data-translate="ppDS"></span></h2>
        <p><span data-translate="ppDSdesc"></span></p>
      </section>
      <section>
        <h2><span data-translate="ppCttP"></span></h2>
        <p><span data-translate="ppCttPdesc"></span></p>
      </section>
      <section>
        <h2><span data-translate="ppCONTACT"></span></h2>
        <p><span data-translate="ppCONTACTdesc"></span></p>
      </section>
    </div>
  </div>
</div>
<hr />
{% endblock %}
