{% extends "base.html" %} {% block content %}
<hr />
<div class="container">
  <div class="row">
    <h1 data-translate="privacy"></h1>
    <p class="lead" data-translate="PPdate">Last updated: 2024-11-26</p>
    <p class="lead" data-translate="ppDesc">
      At iSHIUBA, we respect your privacy. This Privacy Policy explains how we
      handle visitor information.
    </p>
    <div class="col-lg-6">
      <h2 data-translate="ppDC">1. Data Collection</h2>
      <p data-translate="ppDCdesc">
        This site does not collect or store personal data from visitors. The
        only data accessed is related to the functionality of embedded videos
        and theme or language selectors.
      </p>
      <h2 data-translate="ppCOOKIE">2. Cookies</h2>
      <p data-translate="ppCOOKIEdesc"> We do not use cookies or any tracking technologies directly. However, embedded videos from external platforms (such as YouTube) may use cookies. We recommend reviewing the privacy policies of these platforms to understand their practices.
      </p>
      <h2 data-translate="ppDS">3. Data Sharing</h2>
      <p data-translate="ppDSdesc">
        We do not collect or share any visitor information. We are committed to
        providing a secure environment for our visitors.
      </p>
      <h2 data-translate="ppCttP">4. Changes to the Policy</h2>
      <p data-translate="ppCttPdesc">
        We may update this Privacy Policy from time to time. Any changes will be
        posted on this page.
      </p>
      <h2 data-translate="ppCONTACT">5. Contact</h2>
      <p data-translate="ppCONTACTdesc">
        If you have questions about this Policy, please contact us at:
        t.me/contactishiubagithub.
      </p>
    </div>
  </div>
</div>
<hr />
{% endblock %}
