{% extends "base.html" %} {% block content %}
<hr />
<div class="container">
  <div class="row">
    <h1 data-translate="privacy"></h1>
    <p class="lead" data-translate="PPdate"></p>
    <p class="lead" data-translate="ppDesc"></p>
    <div class="col-lg-6">
      <h2 data-translate="ppDC"></h2>
      <p data-translate="ppDCdesc"></p>
      <h2 data-translate="ppCOOKIE"></h2>
      <p data-translate="ppCOOKIEdesc"></p>
      <h2 data-translate="ppDS"></h2>
      <p data-translate="ppDSdesc"></p>
      <h2 data-translate="ppCttP"></h2>
      <p data-translate="ppCttPdesc"></p>
      <h2 data-translate="ppCONTACT"></h2>
      <p data-translate="ppCONTACTdesc"></p>
    </div>
  </div>
</div>
<hr />
{% endblock %}
