{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <h1 data-translate="tos"></h1>
    <p class="lead" data-translate="ToSdate"></p>
    <p class="lead" data-translate="tosDesc"></p>
    <div class="col-lg-6 text-start">
      <section>
        <h2><span data-translate="tosAU"></span></h2>
        <p><span data-translate="tosAUdesc"></span></p>
      </section>
      <section>
        <h2><span data-translate="tosCO"></span></h2>
        <p><span data-translate="tosCOdesc"></span></p>
      </section>
      <section>
        <h2><span data-translate="tosEL"></span></h2>
        <p><span data-translate="tosELdesc"></span></p>
      </section>
      <section>
        <h2><span data-translate="tosLoL"></span></h2>
        <p><span data-translate="tosLoLdesc"></span></p>
      </section>
      <section>
        <h2><span data-translate="tosCttT"></span></h2>
        <p><span data-translate="tosCttTdesc"></span></p>
      </section>
      <section>
        <h2><span data-translate="tosCONTACT"></span></h2>
        <p><span data-translate="tosCONTACTdesc"></span></p>
      </section>
    </div>
  </div>
</div>
{% endblock %}
