{% extends "base.html" %} {% block content %}
<hr />
<div class="container">
  <div class="row">
    <h1 data-translate="tos"></h1>
    <p class="lead">Last updated: 2024-11-26</p>
    <p class="lead">
      Welcome to iSHIUBA! These Terms of Service govern your use of this
      website.
    </p>
    <p class="lead">By accessing it, you agree to the terms outlined below.</p>
    <div class="col-lg-6 text-start">
      <h2>1. Acceptable Use</h2>
      <p>
        You agree to use the site solely for lawful purposes and in compliance
        with these Terms.
      </p>
      <p>
        The following is prohibited: Attempting to gain unauthorized access to
        the site or disrupting its functionality. Using the site to distribute
        illegal, offensive, or copyright-infringing content.
      </p>

      <h2>2. Content Ownership</h2>
      <p>
        All content provided on this site, except for embedded videos from
        external platforms, is owned by iSHIUBA. You may not copy, reproduce, or
        distribute any content without permission.
      </p>

      <h2>3. External Links</h2>
      <p>
        Our site contains links to external platforms (e.g., YouTube,
        SoundCloud). We are not responsible for the content or practices of
        these platforms.
      </p>

      <h2>4. Limitation of Liability</h2>
      <p>
        This site is provided "as is." We do not guarantee uninterrupted
        availability or freedom from errors. We are not liable for any damages
        resulting from the use of this site.
      </p>

      <h2>5. Changes to the Terms</h2>
      <p>
        We may revise these Terms of Service at any time. Changes will be posted
        on this page. It is your responsibility to review the Terms
        periodically.
      </p>

      <h2>6. Contact</h2>
      <p>
        If you have questions, please contact us at: t.me/contactishiubagithub.
      </p>
    </div>
  </div>
</div>
<hr />
{% endblock %}
