{% extends "base.html" %} {% block content %}
<hr />
<div class="container">
  <div class="row">
    <h1 data-translate="tos"></h1>
    <p class="lead" data-translate="ToSdate"></p>
    <p class="lead" data-translate="tosDesc"></p>
    <div class="col-lg-6 text-start">
      <h2 data-translate="tosAU"></h2>
      <p data-translate="tosAUdesc"></p>

      <h2 data-translate="tosCO"></h2>
      <p data-translate="tosCOdesc"></p>

      <h2 data-translate="tosEL"></h2>
      <p data-translate="tosELdesc"></p>

      <h2 data-translate="tosLoL"></h2>
      <p data-translate="tosLoLdesc"></p>

      <h2 data-translate="tosCttT"></h2>
      <p data-translate="tosCttTdesc"></p>

      <h2 data-translate="tosCONTACT"></h2>
      <p data-translate="tosCONTACTdesc"></p>
    </div>
  </div>
</div>
<hr />
{% endblock %}
