<footer>
  <div class="container">
    <button
      id="links"
      class="icon"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#social"
      aria-controls="menu"
      aria-expanded="false"
      aria-label="Open External Links"
    >
      <span class="fa-solid fa-arrow-up-right-from-square"></span>
      <label for="#links">External links</label>
    </button>
    <div class="collapse collapse" id="social">
      <div class="row-cols-auto">
        <a
          rel="noopener"
          href="https://github.com/iamshiuba"
          target="_blank"
        >
          <button class="fa-brands fa-github btn btn-link"></button>
        </a>
        <a
          rel="noopener"
          href="https://x.com/iamshiuba"
          target="_blank"
        >
          <i class="fa-brands fa-x-twitter btn btn-link"></i>
        </a>

        <a
          rel="noopener"
          href="https://www.youtube.com/@iamshiuba"
          target="_blank"
        >
          <i class="fa-brands fa-youtube btn btn-link"></i>
        </a>

        <a
          rel="noopener"
          href="https://soundcloud.com/iamshiuba"
          target="_blank"
        >
          <i class="fa-brands fa-soundcloud btn btn-link"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-auto">
      <p>
        Powered by IamSHIUBA
        &copy; 2023 - 2024.
        <span data-translate="footer">All rights reserved.</span>
      </p>
    </div>
  </div>
</footer>
